/.vscode
/test
/.prettierrc
/eslint.config.mjs
/jsconfig.json
typings
*.tgz
/read-version.js
/.github
/test-env-data
/operations
/utils
/transformation
/webpack.config.ts
/dist/test.js
/dist/test_*.js
/perform-transformation.ts
.prettierignore
/tsconfig.json